<div style="text-align: center;">
    <h1 style="font-size: 28px; font-weight: bold; color: #FFA500;">Importing Dataset Directly from Kaggle using Kaggle API </h1>
    <h3 style="font-size: 18px; color: #555;">Data Scientist: Prashant Sundge</h3>
</div>


1. **Upgrade "opendatasets" Library**: This line of code upgrades the "opendatasets" library to the latest version using pip. The `-q` flag makes the installation process quiet, meaning it won't display a lot of output during installation.

In [1]:
! pip  -q install opendatasets --upgrade

2. **Import Required Libraries**: These lines import the necessary Python libraries:

   - `import opendatasets as od`: Imports the "opendatasets" library and assigns it an alias 'od' for easier use.
   - `import pandas as pd`: Imports the Pandas library and assigns it an alias 'pd' for working with data.
   - `import os`: Imports the 'os' module, which provides a way to interact with the operating system.

In [2]:
import opendatasets as od 
import pandas as pd 
import os


3. **Check "opendatasets" Library Version**: This line of code checks the version of the "opendatasets" library you've installed and prints it to the console. This is useful to ensure you have the right version.

In [3]:
od.version()

'0.1.22'

4. **Define Kaggle Dataset URL**: You specify the URL of the Kaggle dataset you want to download. In this case, it's a weather dataset.

In [4]:
dataset_url='https://www.kaggle.com/datasets/fedesoriano/heart-failure-prediction'

5. **Download the Kaggle Dataset**: This line of code uses the "od.download" function from the "opendatasets" library to download the dataset specified by the `dataset_url`. It will download the dataset and store it in a folder with the name 'weather-dataset-rattle-package.'

In [5]:
od.download(dataset_url)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: prashantkumarsundge
Your Kaggle Key: ········
Downloading heart-failure-prediction.zip to .\heart-failure-prediction

100%|██████████████████████████████████████████████████████████████████████████████| 8.56k/8.56k [00:00<00:00, 238kB/s]


6. **List Files in the Downloaded Dataset Directory**: This code uses the 'os.listdir' function to list the files and directories inside the 'weather-dataset-rattle-package' folder. This helps you see the files that were downloaded.

In [11]:
data_dir = 'heart-failure-prediction'
os.listdir(data_dir)

['heart.csv']

7. **Load Dataset into a Pandas DataFrame**: This line of code constructs the path to the CSV file ('weatherAUS.csv') within the downloaded dataset directory and uses the Pandas 'read_csv' function to load the CSV data into a DataFrame named 'data.'

In [12]:
heart_csv =data_dir+ '/heart.csv'
data = pd.read_csv(heart_csv)

8. **Display First Few Rows of the DataFrame**: Finally, this code displays the first few rows of the 'data' DataFrame using the 'head()' method. It provides an initial glimpse of the data to understand its structure and contents.

In [13]:
data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

So, in simple terms, this code upgrades the "opendatasets" library, downloads a weather dataset from Kaggle, loads it into a DataFrame, and shows the first few rows of the data for initial exploration.

In [10]:
df=pd.read_csv('heart.csv')

In [11]:
df.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1